/* GRUPO DE LOS COLORES, SI PONES VAR(), ELIGES LA OPCIÓN DE ESTOS COLORES QUE YA ESTAN NOMBRADOS,IMPORTANTEEEEEE */
:root {
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-primary: #ed6a42;
    --clr-secondary: #0004ff;
    --background:  rgb(255, 255, 255);
    --ff-title: "Inter", sans-serif;
    --ff-body: "inconsolata";
    --ff-opacity: rgba(0, 0, 0, 0.5);
  }


  body {
    margin: 0; 
    height: 100vh;
    /* PARA EL SCROLL */
    overflow: auto;
    font-size: 18px;
    background-image: url('../img/fondo.jpg');
    background-size: cover; /* Asegura que la imagen cubra el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija la imagen para que no se mueva con el scroll */
  }

/* MENU */
.menu{
    position: relative;
  }
  
  
  /* LA OPACIDAD DEL FONDO PARA CUANDO SE ABRE EL MENU */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--ff-opacity);
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición suave */
    z-index: 10; /* Detrás del botón y la barra */
    visibility: hidden; /* Invisible por defecto */
  }
  
  
  /* MENU OCULTO IZQUIERDA */
  .bar {
    position: fixed;
    background-color: var(--clr-primary);
    width: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 20;
    padding: 10px 0;
    align-items: flex-start;
  }
  
  
  /* BOTÓN DEL MENU */
  .menu-button {
    position: fixed; /* Fijado */
    top: 0;
    left: 0;
    width: 60px; /*Tamaño botón */
    height: 90px; /* Tamaño botón */
    cursor: pointer;
    z-index: 30; /* Encima de todo*/
    transition: transform 0.3s ease;
  }
  
  
  /* VIBRACIÓN ETIQEUTA */
  .vibrate {
    animation: vibrate 0.3s ease-in-out;
  }
  @keyframes vibrate {
    0% { transform: translateY(0); }
    25% { transform: translateY(-3px); } 
    50% { transform: translateY(3px); }  
    75% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
  }
  
  
  /* CATEGORIAS MENU */
  .bar a {
    color: var(--clr-white);
    padding: 10px;
    font-family: var(--ff-body);
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    text-decoration: none;
    position: relative;
    overflow: hidden;
  }
  .bar a::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--clr-white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .bar a:hover::after {
    transform: scaleX(1);
  }
  
  
  .centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  @media (max-width: 768px) {
    .menu-button {
      width: 50px; /*Tamaño botón */
      height: 80px; /* Tamaño botón */
    }
  }
  
  @media (max-width: 576px) {
    .menu-button {
      width: 40px; /*Tamaño botón */
      height: 60px; /* Tamaño botón */
    }
  }


/* TÍTULO CATÁLOGO */
.titulo-catalogo {
  font-family: var(--ff-title);
  color: var(--clr-secondary);
  margin-bottom: 1rem;
  text-align: left !important;
  font-size: 5rem;
  margin-top: 20px;
  font-weight: 800;
  margin: 0.5em 1em;
}
@media (max-width: 1200px) {
  .titulo-catalogo {
    font-size: 4rem;
    margin: 0em 1em;
    margin-top: 1em;
  }
}
@media (max-width: 768px) {
  .titulo-catalogo {
    font-size: 3rem;
    margin-top: 1em;
  }
}

.mt-5{
  margin-top: 0 !important;
}


/* GALERIA */
.gallery-img {
    width: 100%;
    height: auto;
} 
.row{
  margin-left: 0;
  margin-right: 0;
}


/*Estilos de la galería */
.gallery-container {
    position: relative;
}  

/* Tamaño de pantalla mediano (tablets y dispositivos pequeños) */
@media (max-width: 1200px) {
  .gallery-container {
    top: auto; 
}  
.container{
  max-width: 1200px;
}
}

/* Tamaño de pantalla pequeño (teléfonos móviles) */
@media (max-width: 768px) {
  .titulo-catalogo {
      font-size: auto;
  }
}



/* Contenedor para el efecto flip, ajustado al tamaño de la imagen de fondo */
.flip-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del flip box */
.flip-box {
    perspective: 1000px;
    width: 100%;
    height: 105%;
}


.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Efecto de rotación al hacer hover */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Front y back para el efecto flip */
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
} 


/* Imagen de frente (imagen A) */
.flip-box-front img {
    width: 100%;
    height: auto;
}

/* Imagen trasera (imagen B) */
.flip-box-back {
    transform: rotateY(180deg);
}

.flip-box-back img {
    width: 100%;
    height: auto;
}


/* Textos info catalogo */
.product-info {
    text-align: left;
    font-size: 18px;
    font-family: inconsolata;
    margin-top: 10px;
    transition: color 0.3s ease, font-size 0.3s ease;
    z-index: 1; /*Para asegurarnos de que el hover funcione correctamente  */
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-black);
}  
a {
  text-decoration: none;
}
/* Tamaño de pantalla pequeño (teléfonos móviles) */
@media (max-width: 768px) {
  .product-info {
    text-align: center;
    font-size: 1rem;
  }
}


/* Efecto hover en el texto */
.product-info:hover {
    color: #0004ff;
    font-weight: 700;
}

/* BOTON */
.arrow-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  z-index: 1; /*encima de las imágenes del carousel */
  margin-bottom: 10px;
}
.arrow {
  width: 40px;
  height: 40px;
  color: var(--clr-primary);
  transition: transform 0.3s ease;
}
.arrow:hover {
  transform: translateY(5px);
  color: var(--clr-secondary);
}
.new-collection-text {
  font-family: var(--ff-body);
  font-size: 14px;
  color: var(--clr-primary);
  margin-bottom: 2px;
  letter-spacing: 2px;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .arrow-container {
    margin-bottom: 5%;
  }
}
@media (max-width: 768px) {
  .arrow {
    width: 20px;
    height: 20px;
  }
  .new-collection-text {
    margin-bottom: 1px;
  }
}

@media (max-width: 576px) {
  .new-collection-text {
    margin-bottom: 0px;
  }
}
@media (max-width: 400px) {
  .arrow-container {
    margin-bottom: 2%;
  }
}




/* FOOTER */
footer {
  background-color: var(--clr-secondary);
  padding: 30px 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255,255,255,0.1), rgba(255,255,255,0));
  transform: rotate(45deg);
  animation: lightMove 6s infinite linear;
}

/* Logo */
.footer-logo {
  font-size: 60px;
  font-weight: 800;
  color:var(--clr-primary);
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 30px;
}
.footer-logo:hover {
  color:var(--clr-white);
}

/* Lema */
.footer-tagline {
  font-size: 16px;
  color: var(--clr-white);
  margin-left: 30px;
  font-family: var(--ff-title);
}

/* Navegación */
.footer-nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
  font-family: var(--ff-body);
}
.footer-link {
  color: var(--clr-white);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s, transform 0.3s;
}
.footer-link:hover {
  color: var(--clr-primary);
  transform: scale(1.1);
}

/* RRRSS */
.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}
.social-icon i {
  width: 30px;
  height: 30px;
  color: var(--clr-primary);
}
.social-icon:hover i {
  transform: scale(1.5);
}

/* Derechos de autor */
.footer-bottom {
  margin-top: 10px;
  font-size: 12px;
  color: var(--clr-white);
  padding-top: 10px;
  border-top: 1px solid var(--clr-white);
  margin-left: 30px;
  margin-right: 30px;
  font-family: var(--ff-body);
  padding-top: 10px;
}
/* FIN FOOTER */