.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  z-index: 1000;
}

.top-bar a {
  text-decoration: none;
  color: #000;
}

.top-bar a:hover {
  text-decoration: underline;
}

.top-buttons {
  display: flex;
  gap: 20px;
}

.logo a {
  letter-spacing: 1px;
  color: #000;
}

/* ===== CONTENIDO ===== */
.info,
.info2,
.gallery, 
.info-container,
.copyright {
  top: 120px;
  position: relative;
  padding: 0px 30px;
  margin-bottom: 60px;
  font-family: "Roboto Mono", monospace;
}

.titulo {
  font-size: 2rem;
  padding-bottom: 10px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

.sub {
  font-size: 0.8rem;
  padding-bottom: 5px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}

.texto {
  max-width: 500px;   /* límite en escritorio */
  width: 100%;        /* ocupa todo el ancho disponible en móvil */
  font-size: 0.9rem;    /* siempre mismo tamaño */
  font-weight: 300;
  font-family: "Roboto Mono", monospace;
}

p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-family: "Roboto Mono", monospace;
}

/* ===== GALERÍA ===== */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas en escritorio */
  gap: 15px; /* separación entre imágenes */
}

.responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.responsive img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* mantiene proporción sin recortar */
}

/* ===== RESPONSIVE GALERÍA ===== */
@media only screen and (max-width: 700px) {
  .gallery {
    grid-template-columns: 1fr; /* 1 columna en móvil */
  }

  .responsive img {
    height: auto; /* altura natural en móvil */
  }
}

/* ===== BLOQUES BRIEFING Y PRODUCCIÓN EN DOS COLUMNAS ===== */
.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas en escritorio */
  gap: 30px; /* espacio entre columnas */
  margin-bottom: 60px;
}


@media only screen and (max-width: 900px) {
  .info-container {
    grid-template-columns: 1fr; /* pasa a una columna en móvil */
  }
}
body > footer{
  padding-bottom: 20px !important;
  font-size: small;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}

body > section.info > div.texto > p:nth-child(3) > a{
  color: #000;
  text-decoration: none;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

body > section.info > div.texto > p:nth-child(3) > a:hover {
  color: #6c6c6c;
  text-decoration: underline;
  font-family: "Roboto Mono", monospace;
}