/* ===== MENÚ FIJO ===== */
.top-bar {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff; /* fondo blanco para que destaque sobre las imágenes */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  z-index: 1000;
}

.top-bar a {
  text-decoration: none; /* sin subrayado */
}

.top-bar a:hover {
  text-decoration: underline; /* solo al hover */
}

.top-buttons {
  display: flex;
  gap: 20px;
}

.logo a {
  letter-spacing: 1px;
  color: #000;
}


/* ===== Galería Masonry ===== */
.info{
  top: 150px;
  position: relative;
  padding: 0px 30px;
}

.texto{
  width: 310px;
  overflow: hidden;
  text-overflow: clip;
}

